.escolaridad-form {
  margin-top: 70px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
}

.escolaridad-form button {
  width: 100%;
  margin-top: 20px;
}

.horario-table {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.horario-table button {
  width: 100%;
  margin-bottom: 50px;
}
.solicitud-materias-form {
  margin-top: 70px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
}

.solicitud-materias-form button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}