.update-box {
    margin-top: 75px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 75px;
}

.update-box .form-group {
    margin-top: 15px;
}

.update-box button {
    margin-top: 15px;
    width: 100%;
}